<input type="checkbox" @bind="DisplayEmail" /><label>Show emails</label>

@if (Contacts is null)
{
	@LoadingContacts
}
else if (Contacts.Count == 0)
{
	@EmptyContacts
}
else
{
	@foreach (var contact in Contacts)
	{
		<ContactComponent01 contact="@contact" DisplayEmail="@DisplayEmail" DeleteCurrentContact="DeleteContact"></ContactComponent01>
	}
}


@code {
	[Parameter]
	public RenderFragment EmptyContacts { get; set; }

	[Parameter]
	public RenderFragment LoadingContacts { get; set; }

	[Parameter]
	public List<Contact> Contacts { get; set; }

	[Parameter]
	public bool DisplayEmail { get; set; }

	private void DeleteContact(Contact contact)
	{
		Contacts.Remove(contact);
	}
}
