@page "/"
@using BlazorWebAssembly.Pages.ContactComponents;

<PageTitle>Index</PageTitle>


<ContactList Contacts="contacts">
	<LoadingContacts>
		<p>Kontakty są wczytywane...</p>
	</LoadingContacts>
	<EmptyContacts>
		<p>Brak kontaktów do wyświetlenia</p>
	</EmptyContacts>
</ContactList>

<br	/>
<MyTextbox @attributes="@MyTextboxAttributes"></MyTextbox>
